<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" *ngIf="!hideAndShowBtn"
       data-toggle="collapse" data-target="#navbarToggleExternalContent" 
       aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" 
       (click)="openNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <button class="navbar-toggler" type="button" *ngIf="hideAndShowBtn"
      data-toggle="collapse" data-target="#navbarToggleExternalContent" 
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" 
      (click)="closeNav()">
      <span class="navbar-toggler-icon">X</span>
     </button> -->
     <button class="navbar-toggler" 
     *ngIf="hideAndShowBtn" type="button"
     aria-label="Close" (click)="closeNav()">
        <span class="navbar-close-icon" aria-hidden="true">
          <div style="padding: 5px;">X</div></span>
      </button>
      <div (click)="logOut()" style="color:white">LogOut</div>
    </nav>
  </div>