<div id="mySidenav" class="sidenav">
 <img style="width: 100%;" src="assets/img/angular-top.png">
    <mat-list>
        <mat-list-item (click)="openPage('dashboard')"> Dashboard </mat-list-item>
        <mat-list-item (click)="openPage('add-details')" > Add Details </mat-list-item>
    </mat-list>
</div>