.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: #ffff!important;
    border: 1px solid lightgray;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .mat-list-item{
    border-bottom: 1px solid lightgray;
  }