<app-header></app-header>
<app-side-nav></app-side-nav>
<mat-card class="example-form">
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput [formControl]="firstNameFormControl" placeholder="Enter first name">
                <mat-error *ngIf="firstNameFormControl.hasError('required')">
                    First name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="lastNameFormControl" placeholder="Enter last name">
                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                    Last name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" placeholder="Enter email">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is required
                </mat-error>
            </mat-form-field>
            <div class="form-group">
                <button (click)="submitData()" class="btn btn-primary" style="width: 100%;">
                    Add Details
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>