<app-header></app-header>
<app-side-nav></app-side-nav>
<mat-list dense>
    <mat-list-item>
        <div mat-list-icon class="material-icons">
            person
        </div>
        <div mat-line class="list-header">
            FIRST NAME
        </div>
        <div mat-line class="list-item">{{updateUserInfo.firstName}}</div>
    </mat-list-item>
    <mat-list-item>
        <div mat-list-icon class="material-icons">
            person
        </div>
        <div mat-line class="list-header">
            LAST NAME
        </div>
        <div mat-line class="list-item">{{updateUserInfo.lastName}}</div>
    </mat-list-item>
    <mat-list-item>
        <div  mat-list-icon class="material-icons">
            email
        </div>
        <div mat-line class="list-header">
            EMAIL
        </div>
        <div mat-line class="list-item">{{updateUserInfo.email}}</div>
    </mat-list-item>
</mat-list>
<app-footer></app-footer>